// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #4211a4 !important;
    color: #f8f8f8 !important;
    font-size: 12px !important;
    // font-size: 13px !important;
}

.bg-light-blue {
    background-color: rgb(180, 180, 223) !important; /* Replace 'blue' with your desired shade if necessary */
  }